---

---

<!-- SECTION 3 -->
<section class="flex flex-col gap-10 py-32 p-5 bg-green">
  <img
    src="/images/commit-logo.svg"
    alt=""
    class="w-80 h-80 absolute -left-36 -z-10"
  />

  <div class="flex flex-col lg:items-center gap-3 w-5/6 lg:w-full">
    <h1 class="section-title">PROJECTS</h1>
    <p class="hero-text text-left lg:text-center lg:w-2/4">
      We have completed many amazing projects that you will not believe
    </p>
  </div>

  <div class="row-to-column">
    <div class="projects-card group">
      <div class="flex flex-col gap-2 items-center">
        <img src="/images/mobile-app.svg" alt="" class="img-hover-scale" />
        <h1 class="text-white text-sm">The Mobile App Landing Page</h1>
        <p class="paragraf-text">A landing page for mobile app</p>
      </div>
      <button class="detail-button"> Detail</button>
    </div>

    <div class="projects-card group">
      <div class="flex flex-col gap-2 items-center">
        <img src="/images/desktop-app.svg" alt="" class="img-hover-scale" />
        <h1 class="text-white text-sm">The Desktop App Landing Page</h1>
        <p class="paragraf-text">A landing page for desktop app</p>
      </div>
      <button class="detail-button"> Detail</button>
    </div>
  </div>
</section>
<!-- SECTION 3 END -->
