---

---

<!-- SECTION 1 -->
<section class="flex flex-col gap-32 items-center justify-center h-full p-5">
  <div class="flex flex-col items-center gap-8 py-32">
    <p class="section-title">CLIENT-DEVELOPMENT DRIVEN</p>
    <h1 class="hero-text">We Design. We Develop. We Ship. In The Same Day.</h1>
    <p class="paragraf-text text-center w-4/6 lg:w-2/3">
      We are committed to not making clients wait. We will deliver the work as
      quickly as possible. Even on the same day. Even so, we do not reduce the
      quality of our work.
    </p>
    <div class="row-to-column w-full justify-center">
      <button
        class="rounded-lg lg:rounded-sm text-xs py-4 px-8 lg:px-14 bg-figma-purple text-white lg:text-base hover:bg-indigo-900 transition-all duration-300 w-full lg:w-max"
      >
        Send Quote
      </button>
      <button class="transparant-button w-full lg:w-max"> Learn More</button>
    </div>
  </div>

  <div class="pb-32 flex items-center flex-col gap-20">
    <div
      class="flex items-center justify-between gap-8 w-full flex-col lg:flex-row"
    >
      <div class="tools-card">
        <img src="/images/figma.svg" alt="design" class="h-10 w-10" />
        <h1 class="text-white text-lg font-bold">Design</h1>
        <p class="paragraf-text">
          The project interface will be designed first, our favorite tool is
          Figma.
        </p>
      </div>
      <div class="tools-card">
        <img src="/images/code.svg" alt="develop" class="h-10 w-10" />
        <h1 class="text-white text-lg font-bold">Develop</h1>
        <p class="text-white/60 text-xs lg:text-base font-medium">
          Transform design and write business logic here. Choose the technology
          you want.
        </p>
      </div>
      <div class="tools-card">
        <img src="/images/kotak.svg" alt="ship" class="h-10 w-10" />
        <h1 class="text-white text-lg font-bold">Ship</h1>
        <p class="text-white/60 text-xs lg:text-base font-medium">
          After the work is complete, we will send the project and all its
          assets to you.
        </p>
      </div>
    </div>

    <div
      class="flex flex-wrap lg:flex-nowrap items-center justify-center gap-8 border-y-2 border-white/10 p-5 w-5/6 lg:w-full"
    >
      <img src="/images/github.svg" alt="" class="w-24 lg:w-full" />
      <img src="/images/forbes.svg" alt="" class="w-24 lg:w-full" />
      <img src="/images/google.svg" alt="" class="w-24 lg:w-full" />
      <img src="/images/microsoft.svg" alt="" class="w-24 lg:w-full" />
      <img src="/images/pesbuk.svg" alt="" class="w-24 lg:w-full" />
    </div>
  </div>
</section>
<!-- SECTION 1 END -->
