---

---

<!-- SECTION 2 -->
<section
  class="flex flex-col items-center gap-20 p-5 border-b-2 border-white/5"
>
  <div class="row-to-column py-20 justify-start">
    <img src="/images/image-1-section-2.svg" alt="" class="w-5/6 lg:w-2/4" />
    <div class="flex flex-col gap-4 w-5/6 lg:w-full">
      <h1 class="section-title">HOW WE WORK?</h1>
      <p class="hero-text text-2xl text-start w-full">
        Everything is well planned, well designed and developed wholeheartedly
      </p>
      <p class="paragraf-text">
        Careful planning makes us confident, developed with best practices so
        that the project can be maintained. We always test projects before they
        are shipped.
      </p>
    </div>
  </div>

  <div class="row-to-column pb-32">
    <img
      src="/images/image-2-section-2.svg"
      alt=""
      class="w-5/6 lg:w-2/4 -order-2 lg:order-2"
    />
    <div class="flex flex-col gap-7 w-5/6 lg:w-2/4">
      <h1 class="section-title">OUR TEAM</h1>
      <p class="hero-text text-2xl text-start w-full">
        We're a team of designers, engineers and analysts
      </p>
      <p class="paragraf-text">
        Our team consists of many creative people. We are committed to
        maintaining quality work as well as speed. These creative people work
        together to create maximum work results.
      </p>
      <button class="transparant-button"> See Our Teams</button>
    </div>
  </div>
</section>
<!-- SECTION 2 END -->
