---

---

<div class="flex flex-col items-center">
  <!-- SECTION 4 -->
  <section
    class="bg-figma-purple-hilight relative w-5/6 lg:w-11/12 rounded-xl p-5 lg:p-32 flex flex-col lg:items-center gap-16"
  >
    <div class="flex flex-col gap-2 lg:items-center w-full">
      <h1 class="section-title">GET STARTED</h1>
      <p class="hero-text text-left lg:text-center lg:w-1/2">
        What do you need? Choose a service that can help you
      </p>
    </div>

    <div class="flex gap-8 flex-col lg:flex-row w-full">
      <div
        class="bg-figma-purple-hilight-content hover:shadow-figma-purple-hilight-content hilight-card"
      >
        <div class="flex w-full justify-between">
          <p class="font-normal text-xs lg:text-base text-white">UI Design</p>
          <div class="flex flex-col gap-2">
            <p class="text-xs font-normal text-white/60">Starting from</p>
            <h1 class="font-bold text-white text-4xl">1200$</h1>
          </div>
        </div>
        <hr class="" />
        <div class="flex flex-col gap-2 items-center">
          <p class="font-normal text-xs lg:text-base text-white">
            10 design pages
          </p>
          <p class="font-normal text-xs lg:text-base text-white">
            Well-documented
          </p>
          <p class="font-normal text-xs lg:text-base text-white">4 revisions</p>
          <p class="font-normal text-xs lg:text-base text-white">
            $100/additional page
          </p>
        </div>
        <button class="hilight-button text-figma-purple-hilight-content"
          >Detail</button
        >
      </div>

      <div
        class="bg-figma-blue-hilight-content hover:shadow-figma-blue-hilight-content hilight-card"
      >
        <div class="flex w-full justify-between">
          <p class="font-normal text-xs lg:text-base text-white">Development</p>
          <div class="flex flex-col gap-2">
            <p class="text-xs font-normal text-white/60">Starting from</p>
            <h1 class="font-bold text-white text-4xl">5000$</h1>
          </div>
        </div>
        <hr class="" />
        <div class="flex flex-col gap-2 items-center">
          <p class="font-normal text-xs lg:text-base text-white">
            Web & Mobile
          </p>
          <p class="font-normal text-xs lg:text-base text-white">
            Well-documented
          </p>
          <p class="font-normal text-xs lg:text-base text-white">8 revisions</p>
          <p class="font-normal text-xs lg:text-base text-white">
            $1000/additional feature
          </p>
        </div>
        <button class="hilight-button text-figma-blue-hilight-content"
          >Detail</button
        >
      </div>

      <div
        class="bg-figma-pink-hilight-content hover:shadow-figma-pink-hilight-content hilight-card"
      >
        <div class="flex w-full justify-between">
          <p class="font-normal text-xs lg:text-base text-white">Maintenance</p>
          <div class="flex flex-col gap-2">
            <p class="text-xs font-normal text-white/60">Starting from</p>
            <h1 class="font-bold text-white text-4xl">3000$</h1>
          </div>
        </div>
        <hr class="" />
        <div class="flex flex-col gap-2 items-center">
          <p class="font-normal text-xs lg:text-base text-white">
            Daily backup
          </p>
          <p class="font-normal text-xs lg:text-base text-white">
            3 hourse of maintenance
          </p>
          <p class="font-normal text-xs lg:text-base text-white">
            Including fixing
          </p>
          <p class="font-normal text-xs lg:text-base text-white">
            $50/additional hour
          </p>
        </div>
        <button class="hilight-button text-figma-pink-hilight-content"
          >Detail</button
        >
      </div>
    </div>
  </section>
  <!-- SECTION 4 END -->

  <section class="flex flex-col items-center gap-16 py-32 w-5/6 lg:w-11/12">
    <div class="flex flex-col gap-2 lg:items-center w-full">
      <h1 class="section-title">TESTIMONIAL</h1>
      <p class="hero-text text-left lg:text-center lg:w-1/2">
        What do our clients say that we never let down?
      </p>
    </div>
    <div class="flex flex-col lg:flex-row gap-8 w-full relative h-full">
      <div class="testimonial-card group">
        <div class="flex flex-col items-center gap-5">
          <img src="/images/women.svg" alt="" />
          <h1 class="font-bold text-lg text-white">Courtney Henry</h1>
          <p class="font-medium text-sm text-white/60">
            Biffco Enterprises Ltd.
          </p>
        </div>
        <p class="paragraf-text">
          "Very easy to use. I made back the purchase price in just 48 hours!
          It's great. It's is both attractive and highly adaptable."
        </p>
      </div>

      <div class="testimonial-card group">
        <div class="flex flex-col items-center gap-5">
          <img src="/images/profile-2.svg" alt="" />
          <h1 class="font-bold text-lg text-white">Esther Howard</h1>
          <p class="font-medium text-sm text-white/60">Abstergo Ltd.</p>
        </div>
        <p class="paragraf-text">
          "Your company is truly upstanding and is behind its product 100%. It's
          the perfect solution for our business. It has really helped our
          business."
        </p>
      </div>

      <div class="testimonial-card group">
        <div class="flex flex-col items-center gap-5">
          <img src="/images/grandpa.svg" alt="" />
          <h1 class="font-bold text-lg text-white">Ronald Richards</h1>
          <p class="font-medium text-sm text-white/60">Barone LLC.</p>
        </div>
        <p class="paragraf-text">
          "I am really satisfied with it. I'm good to go. It really saves me
          time and effort. It's is exactly what our business has been lacking. "
        </p>
      </div>
    </div>
    <div class="flex gap-2">
      <div class="rounded-full p-1 bg-white"></div>
      <div class="rounded-full p-1 bg-white/5"></div>
      <div class="rounded-full p-1 bg-white/5"></div>
    </div>
  </section>
</div>
