---
import Layout from "../layouts/Layout.astro";
import Section1 from "../components/HowWeWorkContent/Section-1.astro";
import Section2 from "../components/HowWeWorkContent/Section-2.astro";
import Section3 from "../components/HowWeWorkContent/Section-3.astro";
import Section4 from "../components/HowWeWorkContent/Section-4.astro";
import InnerLayout from "../layouts/InnerLayout.astro";
---

<Layout title="Homepage">
  <main>
    <InnerLayout>
      <Section1 />
      <Section2 />
      <Section3 />
    </InnerLayout>
    <Section4 />
  </main>
</Layout>
