---

---
<section class="flex flex-col gap-32 items-center justify-center h-full p-5">
  <div class="flex flex-col text-center items-center gap-8 py-32">
    <p class="section-title">HOW WE WORK</p>
    <p class="hero-text w-3/4 lg:w-3/6">
      We have a workflow that allows the job to be delivered well
    </p>
  </div>
</section>
