---

---

<section class="step-1 h-screen w-screen flex justify-center">
  <div class="row-to-column gap-[66px]">
    <img
      src="/images/discuss img.svg"
      alt="discus-img"
      class="w-5/6 lg:w-2/4"
    />
    <div class="w-5/6 lg:w-[476px] leading-[48px] flex flex-col gap-[22px]">
      <div class="flex flex-col gap-1">
        <p class="section-title">STEP 01</p>
        <p class="hero-text text-2xl text-left w-full">Let's talk about your company's problems first</p>
      </div>
      <div class="flex flex-col gap-8">
        <p class="paragraf-text">
          After submitting the quote form, we will review the data, then we will
          contact you. You can discuss with our team regarding your problem and
          find a solution to that problem.
        </p>
        <p class="paragraf-text">
          In this step, you will discuss what application to build.
        </p>
      </div>
    </div>
  </div>
</section>
