---

---

<section class="step-2 h-screen w-screen flex justify-center">
  <div class="row-to-column gap-[66px]">
    <img
      src="/images/Development Illustration.svg"
      alt="discus-img"
      class="w-3/6 -order-2"
    />
    <div class="w-5/6 lg:w-[476px] leading-[48px] flex flex-col gap-[22px] -order-2">
      <div class="flex flex-col gap-1">
        <p class="section-title">STEP 02</p>
        <p class="hero-text text-2xl text-left w-full">
          Doing planning, design and development until everything is finished
        </p>
      </div>
      <div class="flex flex-col gap-8">
        <p class="paragraf-text">
          When everything is agreed upon, our team will make plans related to
          the application that will be created. Starting from analysis, design,
          to development.
        </p>
        <p class="paragraf-text">
          In this step, the application is 100% complete.
        </p>
      </div>
    </div>
  </div>
</section>
