---

---

<section
  class="max-w-4xl flex flex-col lg:flex-row gap-8 justify-between lg:items-center h-max relative border-y-2 p-5 lg:py-10 border-white/5"
>
  <h1 class="hero-text text-left lg:w-3/5">
    We've prepared everything, it's time for you to tell the problem
  </h1>
  <div class="flex gap-3">
    <button
      class="bg-figma-purple text-white font-normal text-xs lg:text-base py-3 px-6 rounded-sm hover:bg-indigo-900 transition-all duration-300"
      >Send Quote</button
    >
    <button class="transparant-button py-2 px-5">Ask Us</button>
  </div>
</section>
<footer
  class="max-w-4xl flex flex-col lg:flex-row justify-evenly py-32 w-5/6 lg:w-full gap-8"
>
  <div class="w-1/4 flex flex-col gap-3 h-full">
    <img src="/images/logo- footer.svg" alt="" class="w-32" />
    <p class="footer-text">Copyright © 2021</p>
    <p class="footer-text">Design By Collosal LLC</p>
  </div>
  <div class="w-1/4 flex flex-col gap-3 h-full">
    <h1 class="footer-tittle">SERVICES</h1>
    <p class="footer-text">Web Development</p>
    <p class="footer-text">App Development</p>
    <p class="footer-text">UI Design</p>
    <p class="footer-text">Consultation</p>
    <p class="footer-text">Maintenance</p>
  </div>
  <div class="w-1/4 flex flex-col gap-3 h-full">
    <h1 class="footer-tittle">COMPANY</h1>
    <p class="footer-text">About</p>
    <p class="footer-text">Contact</p>
    <p class="footer-text">Send Quote</p>
    <p class="footer-text">Privacy Policy</p>
    <p class="footer-text">Term of Service</p>
    <p class="footer-text">Jobs</p>
  </div>
  <div class="w-1/4 flex flex-col gap-3 h-full">
    <h1 class="footer-tittle">RESOURCES</h1>
    <p class="footer-text">Support</p>
    <p class="footer-text">Documentation</p>
    <p class="footer-text">License</p>
    <p class="footer-text">Sitemap</p>
  </div>
</footer>
