---

---

<section class="step-3 h-screen w-screen flex justify-center">
  <div class="row-to-column">
    <img src="/images/asu.svg" class="w-5/6 lg:w-1/2" />
    <div class="w-5/6 lg:w-[476px] leading-[48px] flex flex-col gap-[22px]">
      <div class="flex flex-col gap-1">
        <p class="section-title">STEP 03</p>
        <p class="hero-text text-2xl text-left w-full">
          The project is complete and we ship all the project assets, and access
          to the server
        </p>
      </div>
      <div class="flex flex-col gap-8">
        <p class="paragraf-text">
          We will be responsible for delivering all the project assets to you,
          don't worry. These assets include, design files, source code, server
          access, and so on.
        </p>
        <p class="paragraf-text">
          In this step, everything is done and the contract ends.
        </p>
      </div>
    </div>
  </div>
</section>
